<div class="container">
    <center>
        <!-- TODO: no home button for this page -->
        <h1>Welcome Teacher</h1>

        <!--<div class=".col-md-6 .offset-md-3s">-->
        <div class="col-xs-12 col-xs-offset-0
                    col-sm-10 col-sm-offset-1 
                    col-md-8 col-md-offset-2 
                    col-lg-4 col-lg-offset-4">
            <row class="row">
            <%= link_to 'Create Poll', 
                        new_poll_path, 
                        action: 'new', 
                        class: "btn btn-block 
                                button-color 
                                btn-lg padded-sm" %>
            </row>
            
            <row class="row">
            <%= link_to 'Host Poll', 
                        polls_path, 
                        action: 'host', 
                        class: "btn btn-block 
                                button-color 
                                btn-lg padded-sm" %>
            </row>
        </div>  
    </center>
</div>